/*-------------------- layout slider --------------------*/
.slider {
  position: relative;
  display: flex;
  align-items: center;

  .bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
    margin-bottom: 0;
  }

  &__list {
    width: 100%;

  }

  // &__item {
  //   display: none;
  // }

  // &__item--activ {
  //   display: flex;
  // }

  &__left {
    position: absolute;
    top: 50%;
    left: rem(-30px);
    transform: translate(0, -50%);
    border: none;
    outline: none;
    margin-right: rem(10px);
    padding: 0;
    background: transparent;
    cursor: pointer;

    @include tablet {
      top: vh(158, 1024);
      left: vw(130, 768);
      transform: translate(0, 0);
    }

    @include mobile {
      top: vw(134, 480);
      left: 0;
    }
  }

  &__right {
    position: absolute;
    top: 50%;
    right: rem(-30px);
    transform: translate(0, -50%);
    border: none;
    outline: none;
    margin-left: rem(10px);
    padding: 0;
    background: transparent;
    cursor: pointer;

    @include tablet {
      top: vh(158, 1024);
      right: vw(130, 768);
      transform: translate(0, 0);
    }

    @include mobile {
      top: vw(134, 480);
      right: 0;
    }
  }
}