$hero-bg-color: $white-f5;
$hero__image-box-bg-color: $white-ff;
/*-------------------- layout hero --------------------*/
.hero {
  height: 100vh;
  background: $hero-bg-color;

  & .container {
    position: relative;
    height: 100%;
  }
}
.hero__image-box {
  position: absolute;
  top: 16.5%;
  right: 8%;
  max-width: rem(500px);
  max-height: rem(500px);
  border-radius: 50%;
  padding: rem(10px);
  background: $hero__image-box-bg-color;
  overflow: hidden;

  @include tablet {
    position: static;
    max-width: rem(348px);
    max-height: rem(348px);
    margin: 0 auto;
    margin-bottom: rem(27px);
  }

  @include mobile {
    max-width: rem(296px);
    max-height: rem(296px);
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;

  @include tablet {
    align-items: center;
    height: auto;
    text-align: center;
  }
}
.hero__title {
  max-width: rem(405px);
  margin-bottom: rem(19px);
  font-size: rem(48px);
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;

  @include tablet {
    max-width: 90%;
    margin-bottom: rem(10px);
  }

  @include mobile {
    max-width: 70%;
    font-size: rem(36px);
  }
}
.hero__subtitle {
  max-width: rem(325px);
  margin-bottom: rem(37px);
  font-size: 1.125em;

  @include tablet {
    margin-bottom: rem(21px);
  }

  @include mobile {
    max-width: 70%;
    margin-bottom: rem(26px);
  }
}
.hero__button {
  margin-bottom: rem(92px);
}
.hero .properties {
  flex: 1 0;
  
  @include tablet {
    display: none;
  }
}