/*-------------------- layout map --------------------*/
.map {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.map__yandex {
  flex-grow: 1;
  background: url(../img/bg/map.jpg) center center/cover no-repeat;
}