/*-------------------- layout reviews --------------------*/
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  @include mobile {
    padding: rem(15px) 0;
  }
}
.reviews__title {
  margin-bottom: rem(32px);
  font-size: rem(48px);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  @include mobile {
    margin-bottom: vh(26, 800);
    font-size: vh(36, 800);
  }
}
.reviews__list {
  margin-bottom: rem(22px);
}
.rewievs__item {
  display: none;

  &--activ {
    display: flex;
  }
}