/*-------------------- page-reviews layout --------------------*/
/*-------------------- reviews --------------------*/
.l-reviews {
  box-sizing: border-box;
  padding: 100px 0 90px 0;
}
.l-reviews__list {
  margin-bottom: 46px;
  column-count: 2;
  column-gap: 30px;
}
.l-reviews__item {
  margin-bottom: 20px;
}
.l-reviews__pagination {
  justify-content: center;
  padding-left: 12px;
}
/*-------------------- banner --------------------*/
.l-banner {
  min-height: 360px;
  box-sizing: border-box;
  background: url(../../img/decor/couple.png) right 29.3% bottom no-repeat, url(../../img/bg/middleline.jpg) center center no-repeat #fff;
}
.l-banner__container {
  display: flex;
  align-items: center;
  min-height: 360px;
}
.l-banner__title {
  max-width: 600px;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
}
/*-------------------- form --------------------*/
.l-form {
  background: #f4f5f5;
  padding-bottom: 99px;
}
