.colors {
  height: 100%;
  background: #000 url('../img/bg/accordion.jpg') left -630px center/cover no-repeat;

  @include tablet {
    background-position: left -830px center;
  }

  & .container {
    padding-top: rem(85px);
  }

  &__title {
    font-size: rem(48px);
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;

    @include mobile {
      font-size: vw(48, 480);
    }
  }
}

.accordeon {
  position: relative;
  min-height: 100%;

  &__list {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      width: 100%;
    }
  }
  
  &__item {
    display: flex;
    height: 100%;
  }

  @include mobile {
    &__item.active {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }

  &__trigger {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: rem(100px);
    border: none;
    outline: none;
    padding: 0 rem(50px);
    cursor: pointer;
    
    @include mobile {
      width: rem(80px);
      padding: rem(50px) 0;
    }
  }
  
  &__title {
    transform: rotate(-90deg);
    width: 100%;
    font-size: rem(36px);
    font-weight: bold;
    color: #fff;
    white-space: nowrap;

    @include tablet {
      font-size: rem(48px);
    }
    
    @include mobile {
      font-size: rem(36px);
    }
  }
  
  &__wrap {
    width: 0;
    overflow: hidden;
    transition: 1s;
  }
  
  &__content {
    position: relative;
    max-width: rem(530px);
    height: 100%;
    overflow-y: auto;
    padding: rem(34px) rem(112px) rem(34px) rem(28px);
    background-color: rgba(51, 53, 55, .93);
    color: #fff;
    
    @include tablet {
      max-width: rem(475px);
    }

    @include mobile {
      padding: rem(50px) rem(30px) rem(30px) rem(28px);
    }

    & p {
      line-height: 1.5;

      @include mobile {
        font-size: vw(16, 480);
      }
    }
  }
  
  &__close {
    position: absolute;
    right: rem(32px);
    top: rem(26px);
    width: rem(20px);
    height: rem(20px);
    border: none;
    outline: none;
    padding: 0 ;
    background: transparent;
    cursor: pointer;

    @include mobile {
      right: rem(10px);
    }
  }
}

.accordeon .active .accordeon__wrap {
  width: rem(530px);

  @include tablet {
    width: rem(475px);
  }

  @include mobile {
    width: auto;
  }
}