// base font size
$base-font-size: 16px;

// base colors
$base-color-primary: #f5f5f5;
$base-color-secondary: #e01f3d;

// special colors
$btn-color-hover: #ca1b36;


// background color of elements
$bg-attribut: #9a9a9a;
$bg-attribu-hover: #6e6e6e;

// text colors
$text-color-black: #000;
$text-color-white: #fff;

$text-color-secondary: #666;
$text-color-form: #f8faf9;

$base-color-third: #999;









$bg-color-grey: #333537;

$bg-color-icon: #b2b2b2;

$bg-color-right-menu: #e42424;

$bg-color-red: #cfdeda;

$bg-color-red: #efebeb;
$bg-color-red: #303030;
$bg-color-red: #151515;

$bg-color-red: #efefef;

