/*-------------------- block contact --------------------*/
.contact {
  @include mobile {
    margin-bottom: rem(19px);
  }
}
.contact__description {
  font-size: rem(18px);

  @include tablet {
    font-size: rem(21px);
  }

  @include mobile {
    margin-bottom: rem(12px);
    font-size: rem(20px);
    text-align: center;
  }
}
.contact__phone {
  position: relative;
  font-size: rem(21px);
  line-height: 1;
  white-space: nowrap;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: rem(8px);
    left: rem(-15px);
    width: rem(12px);
    height: rem(11px);
    background: url(../img/icons/phone.svg) no-repeat center center/contain;
  }

  @include mobile {
    font-size: rem(18px);
  }
}