/*-------------------- block properties --------------------*/
.properties {
  display: flex;
  justify-content: space-between;
  max-width: rem(500px);
  align-items: flex-end;
}
.properties__item {
  display: flex;
  flex-basis: rem(145px);  
}
.properties__image-box {
  flex: 1 0 rem(44px);
  height: rem(44px);
}
.properties__description {
  margin-left: rem(8px);
}
