/*-------------------- block users --------------------*/
.reviews__user {
  display: flex;
  justify-content: center;
}
.users__item {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;

  &--activ {
    border: 6px solid #e01f3d;
  }
}